/*complementary colors found on coolors; created color variables*/
:root {
    --mintcream: #f4fff8;
    --darkliver: #4d4847;
    --outerspacecrayola: #1c3738;
    --pewterblue: #8baaad;
    --darkgreenblack: #000f08;
    --green: #539987;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Karla', Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif';
    margin: 2;
    padding: 1;
}

p {
    color: var(--darkgreenblack);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--darkgreenblack);
    background-color: var(--pewterblue);
    padding: 20px 20px 20px 0;
}

.header h1 {
    padding-left: 40px;
} 

.header-my-name {
    color: var(--independence);
    padding: 5px;
    font-size: 30px;
    line-height: 1;
}

.nav-links {
    display: flex;
    float: right;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: none;
}

.nav-links a {
    color: white;
    background-color: var(--outerspacecrayola);
    text-decoration: none;
}

/*pseudo classes for hover*/
.nav-links a:hover {
    color: var(--mintcream);
    text-decoration: underline;
}

.nav-links ul {
    list-style-type: none;
    float: right; 
    background-color: var(--outerspacecrayola);
}

.nav-links ul li {
    margin: 7px; 
    display: inline-block;
    background-color: var(--outerspacecrayola);
}

.row {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 25px 0%; 
}

.row h2 {
    border-right: 5px solid var(--darkgreenblack);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    flex: 0 0 20%; 
    padding: 1%;
    margin: 2px; 
    color: var(--darkliver);
    font-size: 22px;
    text-decoration: none;
    margin: 2px;
}

.container {
flex: 0 0 75%;
margin-left: 2%
}

.photo {
    float: left; 
    margin-right: 2%;
    width: 15%;
    border-radius: 1%;
}

#work {
    flex-direction: row; 
}

.projects {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content:space-between;
}

.projects p {
    color: white;
}
.project-card, .homework-card {
    position: relative; 
    text-align: center;
    border: 5px solid var(--pewterblue);
    text-align: left;
    margin: 2px;
    opacity: .85;

}
/*pseudo classes for hover*/
.project-card:hover, .homework-card:hover {
    opacity: 1; 
    border-color: var(--darkgreenblack);
}
.project-title:hover {
    border-style: solid;
    border-radius: 2px;;
    border-color: var( --green);
    /* color: var(--mintcream);
    text-decoration: underline; */
}

.project-card {
    margin: 10px;
    max-width: 100%;
}

.project-card div {
    text-decoration: none;
    color: white;
}
.project-card div h3{
    text-decoration: none;
    color: white;
}

.homework-card {
    margin: 10px;
    max-width: 49%;
}

.homework-card div {
    text-decoration: none;
    color: white
}
.homework-card div h3 {
    text-decoration: none;
    color: white
}

.project-image {
    width: 100%;
    vertical-align: middle;
}

.homework-image {
    width: 100%;
    vertical-align: middle;
}

.project-title {
    position: absolute;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    font-size: 12px;
    bottom: 20px;
    background-color: var(--outerspacecrayola);
    color: var(--mintcream);
    text-align: left;
    padding: 2%
}

.project-image {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.contact-links ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-links ul li {
    margin: 10px; 
    padding: 2%; 
    display: inline-block;
}

.contact-links a {
    font-size: 18px;
    color: var(--darkgreenblack);
    text-decoration: none;
}

/*psuedo class for hover*/
.contact-links a:hover {
    color: var(--darkliver);
    text-decoration: underline;
}

footer p {
    font-size: 18px;
    text-align: center;
    background-color: var(--pewterblue);
    padding: 20px;
}

/*adjusts layout for screen size*/
@media screen and (max-width: 980px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .nav-links {
        flex-direction: column;
        text-align: center;
    }
    .nav-links {
        flex-direction: row;
    }
    .project-card {
        max-width: 100%;
        aspect-ratio: 2;
    }
    .homework-card {
        max-width: 100%;
        aspect-ratio: 2.5;
    }
}

@media screen and (max-width: 600 px) {

    .row h2 {
        min-width: 20%;
        font-size: smaller;
    }
    .project-title {
        font-size: smaller;
    }

    .contact-links a {
        font-size: smaller;
    }

}