/*https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f*/
/* https://coolors.co/000f08-1c3738-4d4847-f4fff8-8baaad */
/*https://coolors.co/503d3f-615756-539987-52ffb8-4dfff3*/

:root {
    --mintcream: #f4fff8;
    --darkliver: #4d4847;
    --outerspacecrayola: #1c3738;
    --pewterblue: #8baaad;
    --darkgreenblack: #000f08;
    --brown: #503d3f;
    --lightbrown: #615756;
    --green: #539987;
    --brightgreen: #52ffb8;
    --brightblue: #4dfff3;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2;
    padding: 1;
}

p {
    color: var(--darkliver);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--darkgreenblack);
    background-color: var(--pewterblue);
    padding: 20px 20px 20px 0;
}

 .header h1 {
    padding-left: 40px;
} 

.header-my-name {
    color: var(--independence);
    background-color: var(--eggshell);
    padding: 5px;
    font-size: 30px;
    line-height: 1;
}

.nav-links {
    display: flex;
    float: right;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: none;
}

.nav-links a {
    color: white;
    background-color: var(--outerspacecrayola);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--pewterblue);
    text-decoration: underline;
}

.nav-links ul {
    list-style-type: none;
    float: right; 
    background-color: var(--outerspacecrayola);
}

.nav-links ul li {
    margin: 7px; 
    display: inline-block;
    background-color: var(--outerspacecrayola);
}

.row {
    /* border-right: 10px; */
    /* border-radius: 5px; */
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 25px 0%;
    
}

.row h2 {
    border-right: 5px solid var(--darkgreenblack);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: right;
    flex: 0 0 20%; 
    padding: 1%;
    margin: 2px; 
    color: var(--darkliver);
    font-size: 22px;
    text-decoration: none;
    margin: 2px;
}

.container {
flex: 0 0 75%;
margin-left: 2%
}

#about-me div {
    display: inline-block;
}

.photo {
    float: left; 
    margin-right: 2%;
    width: 20%;
    border-radius: 1%;
}

#work {
    flex-direction: row; 
}

.projects {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content:space-between;
}

.projects p {
    color: white;
}
.project-card, .homework-card {
    position: relative; 
    text-align: center;
    border: 5px solid var(--outerspacecrayola);
    text-align: left;
    color: var(--eggshell);
    margin: 2px;
    opacity: .85;

}

.project-card:hover, .homework-card:hover {
    opacity: 1; 
    border-color: var(--darkgreenblack);
    /* box-shadow: 0 0 5px var (var(--darkgreenblack)); */
}

.project-card {
    margin: 10px;
    max-width: 100%;
}

.homework-card {
    margin: 10px;
    max-width: 49%;
}

.project-image {
    width: 100%;
    vertical-align: middle;
}

.homework-image {
    width: 100%;
    vertical-align: middle;
}

.project-title {
    position: absolute;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    font-size: 12px;
    bottom: 20px;
    background-color: var(--outerspacecrayola);
    color: var(--mintcream);
    text-align: left;
    padding: 1%
}

.project-image {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.contact-links ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.contact-links ul li {
    margin: 10px; 
    padding: 2%; 
    display: inline-block;
}

.contact-links a {
    font-size: 18px;
    color: var(--darkgreenblack);
}

.contact-links a:hover {
    color: var(--darkliver);
    background-color: var(--mintcream);
}

footer p {
    font-size: smaller;
    text-align: left;
}

@media screen and (max-width: 980px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .nav-links {
        flex-direction: column;
        text-align: center;
    }
    .nav-links {
        flex-direction: row;
    }
    .project-card {
        max-width: 100%;
        aspect-ratio: 2.5;
    }
    .homework-card {
        max-width: 100%;
        aspect-ratio: 2.5;
    }
}

@media screen and (max-width: 600 px) {

    .row h2 {
        min-width: 20%;
        font-size: smaller;
    }
    .project-title {
        font-size: smaller;
    }

    .contact-links a {
        font-size: smaller;
    }

}